body {
  font-family: 'PT Sans', sans-serif;
  background: url("../img/background.png") repeat;
}

header {
  background:rgba(67,180,12,.2);
  border-bottom:2px solid rgba(67,180,12,.15);
  padding:20px;
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

header ul li {
  display:inline;
  list-style-type:none;
  line-height:68px;
  margin-left:40px;
  font-size:18px;
  font-weight:bold;
}

header ul li a {
  color:#333;
}

header ul li a:hover {
  border-bottom:2px solid;
  text-decoration:none;
  opacity:.6;
  color:#333;
}

header img {
  width:240px;
}

.cta input {
  height:28px;
  margin: -3px 10px 0   0;
}

footer {
  margin-top:20px;
  padding-top:20px;
  border-top:1px solid rgba(0,0,0,.1);
  
}

p {
  color:rgba(0,0,0,.6);
}


.pitch {
  background:#24322a;
  margin-top:20px;
  border-radius:4px 4px 0 0;
}

.early {
  border-radius:0 0 4px 4px;
  background:#445c49;
  border-top:1px solid black;
}

.early a {
  margin:20px;
  line-height:20px;
}

.early h3 {
  margin:20px 0 20px 0;
  line-height:40px;
  color:#efefef;
  font-weight:normal;
}



.pitch h1 {
  margin-top:40px;
  font-size:4.5em;
  line-height:1.2em;
  color:#efefef;
}

.pitch p {
  color: #749e7d;
  margin:1em 0;
  font-size:1.2em ;
  line-height:1.6em;
}

.pitch img {
  margin-top:20px;
}

.supplement {
  background:#fff;
  margin-top:20px;
}

.features img {
  opacity:.3;
}

.features {
  border-radius:4px 4px 0 0;
}

.cta {
  border-top:1px solid black;
  background:Red;
  border-radius:0 0 4px 4px;
}