header {
  background:red;
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

header ul li {
  display:inline;
  list-style-type:none;
}